<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Matches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown">
    <a class="dropdown-toggle text-light">
      Welcome User
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"
        ><i class="fa fa-user"></i> Edit Profile</a
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"
        ><i class="fa fa-sign-out"></i> Logout</a
      >
    </div>
  </div>

  <form
    *ngIf="!loggedIn()"
    #loginForm="ngForm"
    class="form-inline my-2 my-lg-0"
    (ngSubmit)="login()"
  >
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Username"
      required
      name="username"
      [(ngModel)]="model.username"
    />
    <input
      class="form-control mr-sm-2"
      type="password"
      placeholder="Password"
      required
      name="password"
      [(ngModel)]="model.password"
    />
    <button
      class="btn btn-success my-2 my-sm-0"
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Login
    </button>
  </form>
</nav>
